header { 
    background-color: rgba(250, 235, 215, 0.526);
    }
h1, h2 {
color:gray; text-align: center; text-shadow:5px -2px 5px;
    }
h3 {
font-size: 36px;
font-family:'Fira Sans', monospace;
}

.foto { 
width:35%;
    }

p {
font-size: 20px; color: burlywood; text-align: justify; text-align: center;
    }
ul {
list-style-type:upper-roman;
list-style-position: inside;
    }

button {
background-color: bisque; color: black; text-transform: lowercase;
    }

#href {
text-decoration:wavy underline #FFAA44; 
    }

#demo {
text-align: left;
    }   

#demoform {
background-color:#1E1F29;
    }
    
#demoh3 {
color:#FAFAFA;
    }

#deinp1, #deinp2, #deselect, #comment {
background:#2E1D3D; color:#FAFAFA;
    }

#debutton {
background-color:#6C38CC; color: #FAFAFA;
    }

#delabel1, #delabel2, #delabel3, #delabel4 {
color: #AFB2BF;      
    }

table, th, td {
border:solid, 3px #1E1F29;
border-collapse: collapse;
}

th {
background-color: #ffab448f;
}

tr:nth-child(2) th {
background-color:#FFAA44;
}

.table1{
text-align: left;
}

.table2{
text-align: right;
}